@model WebNetwork.ViewModels.MapSource

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Handcrafted solution</title>
</head>
<body>
<div>
      Here will be a map
</div>
</body>
</html>