@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        Here I will create static map and experiment with it
    </div>
    <div class="col-md-6">
        <h2>Map of the objects</h2>
    </div>
</div>
