@{
    ViewData["Title"] = "Home Page";
}

<div class="row row-md-offset-1">
    <div class="col-md-offset-1 col-md-6">
        <p>WebNetwork aimed to test solution that provide 2D network on the website with smooth zoom in and zoom out.
            The goal is to support as many nodes and edges as possible. There are some already fine front-end solutions on the market like</p>
        <ul>
            <li>
                <a href="http://bl.ocks.org/mbostock/4062045">http://bl.ocks.org/mbostock/4062045</a>
            </li>
            <li>
                <a href="http://mbostock.github.io/protovis/ex/force.html">http://mbostock.github.io/protovis/ex/force.html</a>
            </li>
            <li>
                <a href="http://sigmajs.org/">http://sigmajs.org/</a>
            </li>
        </ul>
        
        <p>
            The chose one is <a href="http://sigmajs.org/">sigma.js</a> so it will be strudied.
            The network data will be provided by the API from SQL
        </p>
    </div>
</div>
