@{
    ViewBag.Title = "Sigma";
    Layout = "_Layout";
}

@section styles {
    <link rel="stylesheet" href="~/css/homeSigma.css" />
}

@section scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <environment names="Development">
        <script type="text/javascript" src="~/lib/sigma/sigma.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/lib/sigma/sigma.min.js"></script>
    </environment>
    <script type="text/javascript" src="~/js/sigma.renderers.canvas.js"></script>
    <script type="text/javascript" src="~/js/sigma.middlewares.rescale.js"></script>
    <script type="text/javascript" src="~/js/sigma.canvas.nodes.square.js"></script>
    
    <script type="text/javascript" src="~/js/homeSigma.js"></script>
    
    <script type="text/javascript" src="~/js/sigma.canvas.labels.def.js"></script>
    <script type="text/javascript" src="~/js/sigma.canvas.edges.labels.def.js"></script>
    <script type="text/javascript" src="~/js/sigma.canvas.hovers.def.js"></script>
}


<h2>@ViewBag.Title</h2>
<input type="text" id="txtFilter" value="/400:400x800:800"/>
<button id="btnReload">Reload</button>
<button id="btnMagic">Do some magic</button>
<div id="container" class="row">
    <div id="graph-container" class="col-lg-9"></div>
</div>

