#graph-container {
    padding: 0;
    height: 700px;
    width: 700px;
    border: 1px solid aquamarine;
}

#disc {
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

#ground {
    background: #ccc;
    top: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}